# Python virtual environment
./backend/.venv/
__pycache__/
*.pyc

# Python env file (chứa thông tin nhạy cảm)
./backend/.env
.env
/face_recognition/infra/keypair
infra/keypair/myKeypair
infra/keypair/myKeypair.pub
infra/keypair

# VSCode settings (nếu có)
.vscode/
myKeypair.pem
# Dữ liệu tạm
data/

# Node modules (nếu frontend dùng Node.js)
./frontend/node_modules/

# Build artifacts (nếu có)
dist/
build/

# Docker/Compose logs hoặc tạm
*.log
*.pid

# OS/system files
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform.lock.hcl

# SSH Key
keypair/
*.pem
*.pub
last_uploaded.jpg
